<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Produit</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Ajouter un Produit</h1>
    </header>
    <main>
        <form th:action="@{/admin/add-product}" th:object="${product}" method="post">
            <div>
                <label for="name">Nom :</label>
                <input type="text" id="name" name="name" th:field="*{name}" required>
            </div>
            <div>
                <label for="description">Description :</label>
                <textarea id="description" name="description" th:field="*{description}" required></textarea>
            </div>
            <div>
                <label for="price">Prix :</label>
                <input type="number" id="price" name="price" th:field="*{price}" step="0.01" required>
            </div>
            <div>
                <label for="imageUrl">URL de l'image :</label>
                <input type="text" id="imageUrl" name="imageUrl" th:field="*{image}" required>
            </div>
            <button type="submit">Ajouter</button>
        </form>
    </main>
</body>
</html>
